.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 12px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card img {
  border-radius: 6px;
}
