.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 24px;
  background-color: rgb(10, 10, 190);
}
.form {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.btn {
  position: absolute;
  left: 4px;
  color: #555;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  border: none;
  color: black;
  outline: none;
}

.input {
  padding: 6px 30px 6px;
  border-radius: 2px;
  border: none;
  background-color: white;
  font-size: 12px;
  min-width: 360px;
  color: inherit;
}
.icon {
  width: 14px;
}
