.loadMoreBtn {
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(10, 10, 190);
  /* color: black; */
  /* border: 2px solid lightslategray; */
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadMoreBtn:hover,
.loadMoreBtn:focus {
  background-color: rgb(66, 66, 231);
  /* border: 2px solid gray; */
}
